

@media (min-width: 1440px) {
  .navbar, .page-footer, main {
    padding-left: 270px
  }
}

.container-for-admin {
  background-color: #eee !important;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
